# savalione.com
title: Savelii Pototskii
email: savelii.pototskii@gmail.com
name: Savelii Pototskii
description: "Savelii Pototskii's personal blog on software development, C++, Go, Linux, open source technologies, and more. Insights and tutorials for developers"
keywords: [Savelii Pototskii, C++, Go lang, Software Development, Open Source, Linux, FPGA, Networking, Systems Engineering, Embedded Systems, Git, Ubuntu, BSD, Backend Development, Performance Optimization, Tech Blog]
domain: "savalione.com"

# The base hostname and protocol for site, e.g. http://example.com
url: "https://savalione.com"

# The subpath of site, e.g. /blog
baseurl: ""

# Google Analytics
analytics_google:

# Goat Counter
goat_counter: gc.savalione.com

# Copyright
copyright: "2019-2026 Savelii Pototskii"

# Jekyll seo tag
author:
  name: "Savelii Pototskii"
  url: https://savalione.com
  twitter: savalione

social:
  name: "Savelii Pototskii"
  links:
    - https://github.com/SavaLione
    - https://www.linkedin.com/in/savalione/
    - https://orcid.org/0009-0006-5105-465X
    - https://g.dev/savalione
    - https://openprofile.dev/profile/SavaLione
    - https://www.credly.com/users/sava
    - https://bsky.app/profile/savalione.com
    - https://x.com/SavaLione
    - https://www.printables.com/@sava

twitter:
  card: summary_large_image

# Jekyll seo locale
locale: en_US
language: en
# https://developer.yoast.com/features/opengraph/api/changing-og-locale-output/

seo:
  type: BlogPosting

# jekyll-paginate (deprecated)
# paginate: 25
# paginate_path: "/page:num/"

# Pagination Settings
pagination:
  enabled: true
  per_page: 25
  offset: 0
  permalink: '/page:num/'
  title: ':title - page :num of :max'
  limit: 0
  sort_field: 'date'
  sort_reverse: true

# JavaScript
javascript_enabled: true

# Highlight
markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  syntax_highlighter_opts:
    default_lang: html
    css_class   : 'syntax'

# Plugins
plugins:
  - jekyll-paginate-v2
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-spaceship

sass:
  sass_dir: _sass
  # Style can be: compressed, compact, expanded or compressed
  style: expanded

collections:
  posts:
    output: true
    permalink: "/posts/:year/:month/:day/:title/"
  docs:
    output: true
    permalink: "/docs/:year/:month/:day/:title/"

defaults:
  - scope:
      path: "_posts"
      type: "posts"
    values:
      permalink: /posts/:year/:month/:day/:title/
      layout: "post"
  - scope:
      path: "_docs"
      type: "docs"
    values:
      permalink: /docs/:year/:month/:day/:title/
      layout: "docs"

# Exclude some files
exclude:
  - CHANGELOG.md
  - README.md
  - TODO.md
