<!-- fonts -->
<!-- Roboto -->
<link rel="preload" href="{{ site.baseurl }}/assets/fonts/roboto/roboto-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{{ site.baseurl }}/assets/fonts/roboto/roboto-italic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{{ site.baseurl }}/assets/fonts/roboto/roboto-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{{ site.baseurl }}/assets/fonts/roboto/roboto-bold-italic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{{ site.baseurl }}/assets/fonts/roboto/roboto-light.woff2" as="font" type="font/woff2" crossorigin="anonymous">

<!-- FiraCode -->
<link rel="preload" href="{{ site.baseurl }}/assets/fonts/firacode-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{{ site.baseurl }}/assets/fonts/firacode-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<!-- fonts -->