{% capture doc %}{% include_relative pages/docs-description.md %}{% endcapture %}

{{ doc | markdownify }}

<hr class="stylish">

<main class="home-main">
    <section id="posts">
        <div class="parent">
            {% for post in site.docs reversed %}
            <div class="post-wrapper">
                <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
                <a class="post-link" href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</main>

<!-- JSON-LD item list -->
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "CollectionPage",
    "name": "{{ page.title }}",
    "description": "{{ page.description }}",
    "url": "https://savalione.com/docs/",
    "mainEntity": {
        "@type": "ItemList",
        "numberOfItems": {{ site.docs.size }},
        "itemListElement": [
            {% for post in site.docs %}{
                "@type": "ListItem",
                "position": {{ forloop.index }},
                "url": "{{ site.url }}{{ post.url }}",
                "name": "{{ post.title }}"
            }{% unless forloop.last %},{% endunless %}
            {% endfor %}
        ]
    }
}
</script>
