<main class="home-main">
    <section id="posts">
        <div class="parent">
            {% for post in paginator.posts %}
            {% if post.type == "post" %}
            <div class="post-wrapper">
                <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
                <a class="post-link" href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
</main>