{% capture about %}{% include_relative pages/index-about.md %}{% endcapture %}

{{ about | markdownify }}

<hr class="stylish">

<h4>Latest posts:</h4>
<main class="home-main">
    <section id="posts">
        <div class="parent">
            {% for post in paginator.posts %}
            {% if post.type == "docs" %}
            {% else %}
            <div class="post-wrapper">
                <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
                <a class="post-link" href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
</main>

<hr class="stylish">

<h4>Latest projects:</h4>
<main class="home-main">
    <section id="posts">
        <div class="parent">
            {% for project in site.data.projects %}
            <div class="post-wrapper">
                <time class="post-date" datetime="{{ project.date | date_to_xmlschema }}">{{ project.date | date: "%Y-%m-%d" }}</time>
                <a class="post-link" href="{{ project.url }}">{{ project.description }}</a>
            </div>
            {% endfor %}
        </div>
    </section>
</main>


<hr class="stylish">

{% capture links %}{% include_relative pages/index-links.md %}{% endcapture %}

{{ links | markdownify }}
