<nav class="top-nav">
    <div class="menu-up">
        <div class="left-menu">
            <a class="nav-item" href='{{ site.baseurl }}/' title="Savelii Pototskii's Blog - Software Development & Open Source">Home</a>
            |
            <a class="nav-item" href='{{ site.baseurl }}/about/' title="About Me | Savelii Pototskii">About</a>
            |
            <a class="nav-item" href='{{ site.baseurl }}/links/' title="Links & Contact | Savelii Pototskii">Links</a>
        </div>
        <div class="right-menu">
            {{ site.name }}
        </div>
    </div>

</nav>