<!--JSON-LD breadcrumbs for the posts page -->
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "https://savalione.com/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "All Blog Posts",
          "item": "https://savalione.com/posts/"
        }
    ]
}
</script>