@charset "utf-8";

[data-theme="dark"] {
    --background-color-default: #0d1117;
    --background-color-muted: #151b23;
    --background-color-neutral-muted: #656c7633;
    --color-default: #f0f6fc;
    --color-accent: #4493f8;
    --border-color-muted: #3d444db3;

    --color-menu: var(--color-accent);

    // Code highlighter
    --color-highlight-string: #a5d6ff;
    --color-highlight-constant: #79c0ff;
    --color-highlight-entity: #d2a8ff;
    --color-highlight-keyword: #ff7b72;

    // 240, 246, 252 - are --color-default in rgb()
    --stylish-color-1: rgba(240, 246, 252, 0.90);
    --stylish-color-2: rgba(240, 246, 252, 0.45);
    --stylish-color-3: rgba(240, 246, 252, 0);
}
