---
layout: page
title: Blog Categories
description: "Explore blog posts by Savelii Pototskii, organized by category. Find articles on C++, Go, Linux, open source, software development, networking, and more"
date: 2019-11-15
permalink: /categories/
sitemap: false
---

{% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <h2 id="{{ category_name }}">{{ category_name }}</h2>
    <div class="parent">
        {% for post in site.categories[category_name] %}
            <div class="post-wrapper">
                <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
                <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            </div>
        {% endfor %}
    </div>
{% endfor %}
