---
layout: default
---
{% include progress.html %}

<header>
	<h1>{{ page.title }}</h1>
	<hr class="stylish" />
	<header class="title-tags">
		<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%B %d, %Y' }}</time>
	</header>
</header>

<hr class="stylish" />

<main role="main">
	<article>
		<section class="content">
			{{content}}
		</section>

		<hr class="stylish" />

		<div class="tags-container">
			Tags: <span>
				{% for tag in page.tags %}
				<a class="tags" href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a>
				{% endfor %}
			</span>
			&nbsp;
		</div>

		<hr class="stylish" />

		<section class="pagination">
			{% if page.previous.url %}
			<a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
			{% endif %}
			{% if page.next.url %}
			<a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
			{% endif %}
		</section>
	</article>
</main>